.btn {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  height: 46px;
  min-height: 46px;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  font-family: var(--fourth-font);
  font-size: 14px;
  font-weight: 500;
  color: var(--text2);
  /* letter-spacing: 0.8px; */
  cursor: pointer;
  transition: var(--trns-02) ease;
}

.btn.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn span.icons8-filled,
.btn span.icons8-regular {
  --i8-gradient: var(--accent-color3);
  --i8-ratio: 24px;
  pointer-events: none;
}

.btn span {
  pointer-events: none;
  transition: var(--trns-02) ease;
}

.btn.classic {
  --BColor: var(--main-color);
  --BColorHover: var(--hover-color1);
  --BColorActive: var(--hover-color1-hover2);
  --TXTColor: var(--text2);
}

.btn.default {
  --BColor: var(--accent-color1);
  --BColorHover: var(--accent-color1-hover);
  --BColorActive: var(--accent-color1-hover2);
  --TXTColor: whitesmoke;
}

.btn.second {
  --BColor: var(--accent-color2);
  --BColorHover: var(--accent-color2-hover);
  --BColorActive: var(--accent-color2-hover2);
  --TXTColor: whitesmoke;
}

.btn.third {
  --BColor: var(--accent-color3);
  --BColorHover: var(--accent-color3-hover);
  --BColorActive: var(--accent-color3-hover2);
  --TXTColor: whitesmoke;
}

/* ----- */
.btn.success {
  --BColor: var(--success-color);
  --BColorHover: var(--success-color-hover);
  --BColorActive: var(--success-color-hover2);
  --TXTColor: whitesmoke;
}

.btn.warning {
  --BColor: var(--warning-color);
  --BColorHover: var(--warning-color-hover);
  --BColorActive: var(--warning-color-hover2);
  --TXTColor: whitesmoke;
}

.btn.danger {
  --BColor: var(--danger-color);
  --BColorHover: var(--danger-color-hover);
  --BColorActive: var(--danger-color-hover2);
  --TXTColor: whitesmoke;
}

.btn.info {
  --BColor: var(--info-color);
  --BColorHover: var(--info-color-hover);
  --BColorActive: var(--info-color-hover2);
  --TXTColor: whitesmoke;
}

.btn.btn-fill {
  background-color: var(--BColor);
  color: var(--TXTColor);
  padding: 0 20px;
  border-radius: var(--rounded1);
}

.btn.btn-regular.rounded10,
.btn.btn-fill.rounded10 {
  border-radius: 4px;
}

.btn.btn-regular.rounded20,
.btn.btn-fill.rounded20 {
  border-radius: var(--rounded2);
}

.btn.btn-regular.rounded30,
.btn.btn-fill.rounded30 {
  border-radius: var(--rounded3);
}

.btn.btn-fill .icons8-filled,
.btn.btn-fill .icons8-regular {
  filter: brightness(99);
}

.btn.classic .icons8-filled,
.btn.classic .icons8-regular {
  filter: var(--icon4);
}

.btn.btn-fill:hover {
  background-color: var(--BColorHover);
}

.btn.btn-fill:active {
  background-color: var(--BColorActive);
  transition: 0s;
}

/* Regular */

.btn.btn-regular {
  box-sizing: border-box;
  border: 1px solid var(--BColor);
  color: var(--BColor);
  padding: 0 20px;
  border-radius: var(--rounded3);
  overflow: hidden;
}
.btn.btn-regular::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--BColor);
  transition: var(--trns-02) ease;
}

.btn.btn-regular:hover {
  color: var(--BColorHover);
  border-color: var(--BColorHover);
}
.btn.btn-regular:hover::after {
  opacity: 0.1;
}

.btn.btn-regular:active {
  color: var(--BColorActive);
  border-color: var(--BColorActive);
  transition: 0s;
}

.btn.icon {
  aspect-ratio: 1;
  padding: 0;
  gap: 0;
}
