.dynamic-dropdown-group {
  position: relative;
}

.dynamic-dropdown-group > .dy-menu {
  position: absolute;
  min-width: 200px;
  min-height: 28px;
  top: 100%;
  background-color: var(--dropdown-background);
  z-index: 99;
  box-shadow: var(--box-shadow-1);
  border-radius: 8px;
  padding: 6px 0;
  border: 1px solid var(--dropdown-border);
  pointer-events: none;
  box-sizing: border-box;
  transform: scale(0.95);
  opacity: 0;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.dynamic-dropdown-group.active > .dy-menu {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

.dynamic-dropdown-group > .dy-menu .dy-group-button,
.dynamic-dropdown-group > .dy-menu .dp-list {
  min-height: 28px;
  display: flex;
  font-size: 13px;
  white-space: nowrap;
  align-items: center;
  border-radius: 6px;
  padding: 0 34px;
  margin: 0 6px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.dynamic-dropdown-group > .dy-menu .dy-group-button,
.dynamic-dropdown-group > .dy-button > .dy-group-button,
.dynamic-dropdown-group > .dy-menu .dp-list {
  color: var(--dropdown-foreground);
}
.dynamic-dropdown-group > .dy-menu .dy-group-button:hover,
.dynamic-dropdown-group.on-hover.active > .dy-button > .dy-group-button,
.dynamic-dropdown-group > .dy-menu .dp-list:hover {
  color: var(--dropdown-selection-hoverForeground);
}
.dynamic-dropdown-group > .dy-menu .dp-list.disabled {
  color: var(--disabled-color2);
}

.dynamic-dropdown-group > .dy-menu .dy-group-button > .icon {
  position: absolute;
  right: 18px;
  pointer-events: none;
}

.dynamic-dropdown-group > .dy-menu .dp-list > .dp-left-icon {
  position: absolute;
  left: 18px;
  pointer-events: none;
}
.dynamic-dropdown-group > .dy-menu .dp-list > .dp-right-icon {
  position: absolute;
  right: 18px;
  pointer-events: none;
}

.dynamic-dropdown-group > .dy-button > .dy-group-button > .icon > span {
  --i8-gradient: var(--dropdown-foreground);
}
.dynamic-dropdown-group.active > .dy-button > .dy-group-button > .icon > span {
  --i8-gradient: var(--dropdown-selection-activeForeground);
}

.dynamic-dropdown-group > .dy-menu .dp-list > .dp-right-icon > span,
.dynamic-dropdown-group > .dy-menu .dp-list > .dp-left-icon > span {
  --i8-gradient: var(--dropdown-foreground);
}
.dynamic-dropdown-group > .dy-menu .dp-list:hover > .dp-right-icon > span,
.dynamic-dropdown-group > .dy-menu .dp-list:hover > .dp-left-icon > span {
  --i8-gradient: var(--dropdown-selection-activeForeground);
}

.dynamic-dropdown-group > .dy-menu > span.dp-point {
  --offset-top: 6px;
  position: absolute;
  top: var(--offset-top);
  display: block;
  pointer-events: none;
  background-color: var(--dropdown-selection-hoverBackground);
  width: calc(100% - 12px);
  box-sizing: border-box;
  min-height: 28px;
  border-radius: 6px;
  opacity: 0;
  padding: 0 34px;
  margin: 0 6px;
  transition: var(--trns-04) var(--Cubic-Bezier1);
  z-index: -1;
}

.dynamic-dropdown-group > .dy-menu > .dynamic-dropdown-group:hover ~ span.dp-point,
.dynamic-dropdown-group > .dy-menu > .dp-list:hover ~ span.dp-point {
  opacity: 1;
}
.dynamic-dropdown-group > .dy-menu > .dp-list.disabled:hover ~ span.dp-point {
  opacity: 0;
}

.dynamic-dropdown-group > .dy-menu > span.dp-separator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 6px 0;
  box-sizing: border-box;
  background-color: var(--button-separator);
}

/* Positions */

.dynamic-dropdown-group.right-1 > .dy-menu {
  top: -6px;

  left: 100%;

  bottom: auto;

  right: auto;

  z-index: 1;
}

.dynamic-dropdown-group.right-2 > .dy-menu {
  top: auto;

  bottom: 0px;

  left: 100%;

  right: auto;

  z-index: 1;
}

.dynamic-dropdown-group.left-2 > .dy-menu {
  top: auto;

  bottom: 0px;

  left: auto;

  right: 100%;

  z-index: 1;
}
.dynamic-dropdown-group.bottom-1 > .dy-menu {
  top: 100%;

  bottom: auto;

  left: auto;

  right: 0;

  z-index: 1;
}
