.codes .control {
  color: var(--control);
}

.codes .variable {
  color: var(--variable);
}

.codes .variable-name {
  color: var(--variable-name);
}

.codes .control-name {
  color: var(--control-name);
}

.codes .string {
  color: var(--string-symbols-inheritedclass-markupheading);
}

.codes .bracket-xml {
  color: var(--bracket-xml);
}

.codes .colors {
  color: var(--text1);
}

.codes .keyword-operator {
  color: var(--keyword-operator);
}

.codes .bracket1 {
  color: var(--editorBracketHighlight-foreground1);
}

.codes .bracket2 {
  color: var(--editorBracketHighlight-foreground2);
}

.codes .bracket3 {
  color: var(--editorBracketHighlight-foreground3);
}

.codes .comment {
  color: var(--comment);
}

.codes .spacing {
  min-width: calc(var(--space-width) * 1);
  width: calc(var(--space-width) * 1);
}

.codes .spacing2 {
  min-width: calc(var(--space-width) * 2);
  width: calc(var(--space-width) * 2);
}

.codes .spacing3 {
  min-width: calc(var(--space-width) * 3);
  width: calc(var(--space-width) * 3);
}

.codes .spacing4 {
  min-width: calc(var(--space-width) * 4);
  width: calc(var(--space-width) * 4);
}

.codes .spacing5 {
  min-width: calc(var(--space-width) * 5);
  width: calc(var(--space-width) * 5);
}

.codes .spacing6 {
  min-width: calc(var(--space-width) * 6);
  width: calc(var(--space-width) * 6);
}

.codes .spacing7 {
  min-width: calc(var(--space-width) * 7);
  width: calc(var(--space-width) * 7);
}

.codes .spacing8 {
  min-width: calc(var(--space-width) * 8);
  width: calc(var(--space-width) * 8);
}

.codes .spacing9 {
  min-width: calc(var(--space-width) * 9);
  width: calc(var(--space-width) * 9);
}

.codes .spacing10 {
  min-width: calc(var(--space-width) * 10);
  width: calc(var(--space-width) * 10);
}

.codes {
  --space-width: 8px;
  width: 100%;
  position: relative;
  font-family: var(--second-font);
}

.codes.app {
  position: initial;
}

.codes .btn > span {
  font-family: var(--second-font);
}

.codes .write-code {
  position: relative;
  height: 26px;
  display: flex;
  align-items: center;
  padding-left: var(--padding-line-code);
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  font-family: var(--main-font);
  /* font-family: monospace; */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.codes .write-code.disabled > span {
  /* color: var(--disabled-color1); */
  opacity: 0.3;
  transition: var(--trns-02) ease;
}

.codes .write-code:hover > span {
  opacity: 1;
}

.codes .write-code::before {
  width: 40px;
  text-align: right;
  position: absolute;
  left: 0;
  color: var(--editor-lineNumber);
  content: attr(data-numberline);
}

.codes .display-frame {
  box-sizing: border-box;
  padding-left: var(--padding-line-code);
  padding-right: var(--padding-line-code);
}

.codes > .display-frame > .render {
  /* min-width: 100%; */
  max-width: 1366px;
  margin: 0 auto;
  /* overflow: hidden; */
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.codes > .display-frame .dual-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'content1 content2';
  gap: 20px;
}

.codes > .display-frame .dual-content > .content1 {
  grid-area: content1;
}

.codes > .display-frame .dual-content > .content2 {
  grid-area: content2;
}

.codes > .display-frame .card-group-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(500px) rotateY(-10deg) rotateX(6deg);
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.codes > .display-frame .card-group-photo > .main-card {
  position: relative;
  aspect-ratio: 1 / 1.1;
  width: 300px;
  display: grid;
  background-color: var(--base-accent);
  border: 1px solid var(--base-accent);
  border-top: var(--glassmorphism-top);
  border-top-width: 2px;
  border-right: var(--glassmorphism-top);
  border-right-width: 1px;
  border-radius: var(--rounded1);
  z-index: 2;
  transition: var(--trns-04) var(--Cubic-Bezier1);
  overflow: hidden;
}

.codes > .display-frame .card-group-photo > .main-card > div {
  position: absolute;
  background-color: var(--base-accent);
  filter: brightness(1.5);
  bottom: 0px;
  right: 0;
  width: 250%;
  height: 2px;
  transform: translateX(50%) rotateZ(-30deg);
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.codes > .display-frame .card-group-photo > .main-card > div:nth-child(2) {
  bottom: 10px;
  transition-delay: 0.03s;
}

.codes > .display-frame .card-group-photo > .main-card > div:nth-child(3) {
  bottom: 40px;
  transition-delay: 0.06s;
}

.codes > .display-frame .card-group-photo > .main-card > div:nth-child(4) {
  bottom: 80px;
  transition-delay: 0.1s;
}

.codes > .display-frame .card-group-photo > .main-card > div:nth-child(5) {
  bottom: 130px;
  transition-delay: 0.15s;
}

.codes > .display-frame .card-group-photo > .main-card > div:nth-child(6) {
  bottom: 190px;
  transition-delay: 0.21s;
}

.codes > .display-frame .card-group-photo > .main-card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: var(--trns-04);
}

.codes > .display-frame .card-group-photo > .bg-card {
  position: absolute;
  overflow: hidden;
  background-color: var(--editor-background);
  filter: brightness(1.3);
  border: 2px solid var(--base-accent);
  border-radius: var(--rounded1);
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.codes > .display-frame .card-group-photo > .bg-card:nth-child(2) {
  aspect-ratio: 1 / 1.1;
  width: 300px;
  transform: translateY(20px) translateX(20px);
  z-index: 1;
}

.codes > .display-frame .card-group-photo > .bg-card:nth-child(3) {
  aspect-ratio: 1 / 1.1;
  width: 200px;
  transform: translateY(-74px) translateX(-70px);
}

.codes > .display-frame .card-group-photo:hover {
  transform: perspective(500px) rotateY(-6deg) rotateX(2deg);
}

.codes > .display-frame .card-group-photo:hover > .main-card {
  transform: scale(1.05);
}

.codes > .display-frame .card-group-photo:hover > .main-card > div {
  transition-delay: 0s;
  bottom: 0px;
}

.codes > .display-frame .card-group-photo:hover > .main-card img {
  opacity: 0.9;
}

.codes > .display-frame .card-group-photo:hover > .bg-card:nth-child(2) {
  transform: translateY(20px) translateX(20px) scale(0.98);
  transition-delay: 0.1s;
}

.codes > .display-frame .card-group-photo:hover > .bg-card:nth-child(3) {
  transform: translateY(-74px) translateX(-70px) scale(0.8);
  transition-delay: 0.06s;
}

.codes > .display-frame .btn-more {
  --ratio: 12px;
  position: relative;
  background-color: transparent;
  border: none;
  align-self: center;
  height: 34px;
  color: var(--text3);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--second-font);
  cursor: pointer;
}

.codes > .display-frame .btn-more > span {
  width: var(--ratio);
  height: var(--ratio);
  display: flex;
  align-items: center;
  justify-content: center;
}

.codes > .display-frame .btn-more > span::before {
  content: '';
  position: absolute;
  width: var(--ratio);
  height: 2px;
  background-color: var(--accent-color1);
  transition: var(--trns-02) ease;
}

.codes > .display-frame .btn-more > span::after {
  content: '';
  position: absolute;
  width: var(--ratio);
  height: 2px;
  transform: rotateZ(90deg);
  background-color: var(--accent-color1);
  transition: var(--trns-02) ease;
}

.codes > .display-frame .btn-more.active > span::after,
.codes > .display-frame .btn-more.active > span::before {
  transform: rotateZ(180deg);
}

.codes > .display-frame .showcase-preview-group {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 20px 0;
  padding-bottom: 40px;
}

.showcase-preview-group > .card-showcase {
  position: relative;
  margin: 40px 0;
}

.showcase-preview-group > .card-showcase > .main-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-areas: 'detailed preview';
  border-radius: var(--rounded1);
  overflow: hidden;
  box-shadow: var(--box-shadow-2);
  z-index: 2;
}

.showcase-preview-group > .card-showcase > .bg-card {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid var(--base-accent);
  right: 0;
  bottom: 0;
  border-radius: var(--rounded1);
  background-color: var(--editor-background);
  filter: brightness(1.3);
  width: calc(60% + 50px);
  height: 90%;
  transform: translateY(16px) translateX(18px);
  z-index: 1;
}

.showcase-preview-group > .card-showcase > .main-card > .preview {
  grid-area: preview;
  /* width: 100%;
    height: 100%; */
  /* top: 0;
    bottom: 0; */
  position: relative;
  display: grid;
  overflow: hidden;
  border: 1px solid var(--base-accent);
}

.showcase-preview-group > .card-showcase > .main-card > .preview::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--base-accent);
  opacity: 0.7;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

/* .showcase-preview-group>.card-showcase>.main-card>.preview>span{
    width: 100%;
    height: 100%;
} */
.showcase-preview-group > .card-showcase > .main-card > .preview img {
  width: 100%;
  height: 100%;
  filter: saturate(0.2);
  object-fit: cover;
  object-position: center;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div {
  position: absolute;
  background-color: var(--base-accent);
  filter: brightness(1.5);
  bottom: 0px;
  right: 0;
  width: 250%;
  height: 2px;
  transform: translateX(50%) rotateZ(-30deg);
  transition: var(--trns-04) var(--Cubic-Bezier1);
  z-index: 1;
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div:nth-child(2) {
  bottom: 10px;
  transition-delay: 0.03s;
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div:nth-child(3) {
  bottom: 40px;
  transition-delay: 0.06s;
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div:nth-child(4) {
  bottom: 80px;
  transition-delay: 0.1s;
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div:nth-child(5) {
  bottom: 130px;
  transition-delay: 0.15s;
}

.showcase-preview-group > .card-showcase > .main-card > .preview > div:nth-child(6) {
  bottom: 190px;
  transition-delay: 0.21s;
}

.showcase-preview-group > .card-showcase > .main-card > .preview:hover::after {
  opacity: 0.1;
}

.showcase-preview-group > .card-showcase > .main-card > .preview:hover img {
  filter: saturate(1);
  transform: scale(1.1);
}

.showcase-preview-group > .card-showcase > .main-card > .preview:hover > div {
  bottom: 0px;
  transition-delay: 0s;
}

.showcase-preview-group > .card-showcase > .main-card > .detailed {
  grid-area: detailed;
  border-radius: var(--rounded1);
  position: relative;
  box-sizing: border-box;
  padding: 20px 24px;
  display: flex;
  background-color: var(--editor-background);
  flex-direction: column;
  gap: 10px;
  width: calc(100% + 20px);
  z-index: 2;
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .featured {
  color: var(--accent-color1);
  font-weight: 600;
  font-size: 15px;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .title {
  font-size: 28px;
  font-weight: 600;
  color: var(--text1);
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .description {
  font-size: 16px;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .technology-used {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
  transition: var(--trns-04) var(--Cubic-Bezier1);
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .technology-used > li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: var(--text3);
  display: flex;
  align-items: center;
}

.showcase-preview-group > .card-showcase > .main-card > .detailed .technology-used > li::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top-right-radius: 100%;
  margin-right: 6px;
  transform: rotateZ(-135deg);
  background-color: var(--accent-color1);
}

.showcase-preview-group > .card-showcase.reverse > .main-card {
  grid-template-areas: 'preview detailed';
  grid-template-columns: 1.3fr 1fr;
}

.showcase-preview-group > .card-showcase.reverse > .main-card > .detailed {
  justify-self: flex-end;
}

.showcase-preview-group > .card-showcase.reverse > .bg-card {
  right: auto;
  left: 0;
  transform: translateY(16px) translateX(-18px);
}

/* ----- */
.codes > .display-frame .showcase-list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.showcase-list-group > h3 {
  font-size: 28px;
  font-weight: 700;
}

.showcase-list-group > ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.showcase-list-group > ul > li {
  --item-index: 0;
  position: relative;
  display: flex;
  padding: 28px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 14px;
  /* border: 2px solid transparent; */
  border-top-color: var(--base-accent);
  background-color: var(--editor-background);
  border-radius: var(--rounded1);
  box-shadow: var(--box-shadow-2);
  overflow: hidden;
  z-index: 1;
  animation: slide-up var(--trns-1) var(--Cubic-Bezier1) both;
  animation-delay: calc(var(--item-index) * 0.08s);
}

.showcase-list-group > ul > li > h4 {
  color: var(--text1);
  font-size: 22px;
  font-weight: 600;
}

.showcase-list-group > ul > li > p {
  color: var(--text3);
  font-size: 15px;
  flex: 1;
}

.showcase-list-group > ul > li .technology-used {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
}

.showcase-list-group > ul > li .technology-used > li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: var(--text3);
  display: flex;
  align-items: center;
}

.showcase-list-group > ul > li .technology-used > li::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top-right-radius: 100%;
  margin-right: 6px;
  transform: rotateZ(-135deg);
  background-color: var(--accent-color1);
}

.showcase-list-group > ul > li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--base-accent);
  top: 0;
  left: 0;
  right: 0;
  transition: var(--trns-02) ease;
}

.showcase-list-group > ul > li:hover::after {
  /* opacity: 0; */
  height: 10px;
}

/* HERO SECTION ##################### */
#herosection {
  --h-section: calc(100vh - 40px - 40px - 26px - var(--panel) - var(--statusbar) - 208px);
  position: relative;
  box-sizing: border-box;
  padding: 20px calc(var(--space-width) * 6);
  padding-top: 10px;
  min-height: var(--h-section);
}

#herosection > .box:nth-child(1)::before {
  content: '';
  display: block;
  height: calc((var(--h-section) - 350px) / 2.5);
  transition: var(--trns-04) var(--Cubic-Bezier1);
  pointer-events: none;
}

#herosection > .box:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#herosection h1 {
  font-size: 58px;
  font-family: var(--fifth-font);
  font-weight: 800;
}

#herosection h1 > div {
  display: inline;
  white-space: nowrap;
}

#herosection h1 span,
#herosection h2 > span {
  color: var(--base-accent);
  /* background-color: var(--base-accent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

#herosection .btn {
  width: 200px;
  height: 60px;
}

#herosection .btn > span {
  font-size: 16px;
}

#herosection h2 {
  font-size: 48px;
  font-family: var(--fourth-font);
  font-weight: 800;
}

/* ABOUT SECTION ##################### */
#about {
  position: relative;
  box-sizing: border-box;
  padding: 100px calc(var(--space-width) * 6);
}

#about h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--base-accent);
  margin-bottom: 50px;
}

#about p {
  font-size: 18px;
  font-weight: 300;
}

/* MY SKILLS */
#myskills {
  position: relative;
  box-sizing: border-box;
  padding: 100px calc(var(--space-width) * 6);
}

#myskills .listboard {
  margin: 0 auto;
  max-width: 700px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'title title' 'lists preview';
}

#myskills .listboard > h2 {
  grid-area: title;
  font-size: 32px;
  font-weight: 600;
  color: var(--base-accent);
  margin-bottom: 30px;
}

#myskills .listboard > .box {
  grid-area: preview;
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#myskills .listboard .preview-skills {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 6px;
  background-color: var(--editor-background);
  box-shadow: var(--box-shadow-1);
}

#myskills .listboard .preview-skills > h3 {
  font-weight: 800;
  font-size: 18px;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--separator);
}

#myskills .listboard .preview-skills > ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#myskills .listboard .preview-skills > ul > li {
  padding: 4px 2px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 300;
  color: var(--text3);
}

#myskills .listboard .preview-skills > ul > li::before {
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 6px;
  border-top-right-radius: 100%;
  transform: rotateZ(-135deg);
  width: 6px;
  height: 6px;
  background-color: var(--accent-color1);
}

#myskills .listboard > .list-skills {
  grid-area: lists;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  padding: 10px;
  box-sizing: border-box;
}

#myskills .listboard span.separator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: var(--separator);
}

#myskills .listboard > .list-skills > ul {
  display: grid;
  gap: 10px;
  row-gap: 20px;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr;
}

#myskills .listboard > .list-skills > ul:nth-child(2) {
  display: none;
}

#myskills .listboard > .list-skills > ul:nth-child(2).active {
  display: grid;
}

#myskills .listboard > .list-skills > ul > li {
  --item-index: 0;
  padding: 0 2px;
  list-style: none;
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: var(--text3);
  animation: list-skill-anim var(--trns-04) var(--Cubic-Bezier1) both;
  animation-delay: calc(var(--item-index) * 0.08s);
}

@keyframes list-skill-anim {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#myskills .listboard > .list-skills > ul > li::before {
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 6px;
  border-top-right-radius: 100%;
  transform: rotateZ(-135deg);
  width: 6px;
  height: 6px;
  background-color: var(--accent-color1);
}

/* PROJECTS */
#projects {
  position: relative;
  box-sizing: border-box;
  padding: 100px calc(var(--space-width) * 6);
}

#projects h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--base-accent);
}

#projects span.separator {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--separator);
}

/* CONTACT */
#contact {
  position: relative;
  box-sizing: border-box;
  padding: 150px calc(var(--space-width) * 6);
}

#contact > .box {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

#contact > .box > h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--base-accent);
}

#contact > .box > p {
  color: var(--text3);
}

#contact > .box > p:nth-child(3) {
  font-size: 17px;
}

/* KEYFEAMES */

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* MEDIA */

@media (max-width: 1023px) {
  .codes > .display-frame .dual-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'content2' 'content1';
    gap: 20px;
  }

  .codes > .display-frame .dual-content > .box:nth-child(2) {
    margin-bottom: 60px;
  }

  /* ------------ */
  #myskills .listboard {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'title'
      'preview'
      'lists';
  }

  /* -------------- */
  .showcase-preview-group > .card-showcase.reverse > .main-card {
    grid-template-areas: none;
    grid-template-columns: 1fr;
  }

  .showcase-preview-group > .card-showcase.reverse > .main-card > .detailed {
    justify-self: flex-start;
  }

  .showcase-preview-group > .card-showcase > .main-card {
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: initial;
    grid-template-areas: initial;
    border-radius: var(--rounded1);
    background-color: transparent;
    overflow: hidden;
    box-shadow: var(--box-shadow-2);
    z-index: 2;
  }

  .showcase-preview-group > .card-showcase > .main-card > .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    grid-area: initial;
    filter: brightness(0.6);
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    bottom: 0;
    min-height: 400px;
    grid-area: initial;
    border-radius: var(--rounded1);
    box-sizing: border-box;
    padding: 20px 24px;
    display: flex;
    width: auto;
    background-color: transparent;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
  }
  .showcase-preview-group > .card-showcase > .main-card > .detailed .technology-used > li,
  .showcase-preview-group > .card-showcase > .main-card > .detailed .title {
    color: white;
  }
  .showcase-preview-group > .card-showcase > .main-card > .detailed .btn > span {
    filter: brightness(99) !important;
  }
  .showcase-preview-group > .card-showcase > .main-card:hover > .preview::after {
    opacity: 0.1;
  }

  .showcase-preview-group > .card-showcase > .main-card:hover > .preview img {
    filter: saturate(1);
    transform: scale(1.1);
  }

  .showcase-preview-group > .card-showcase > .main-card:hover > .preview > div {
    bottom: 0px;
    transition-delay: 0s;
  }
  .showcase-preview-group > .card-showcase > .main-card:hover > .detailed > .featured,
  .showcase-preview-group > .card-showcase > .main-card:hover > .detailed > .title,
  .showcase-preview-group > .card-showcase > .main-card:hover > .detailed > .description,
  .showcase-preview-group > .card-showcase > .main-card:hover > .detailed > .technology-used {
    opacity: 0;
  }

  /* -------------- */
  .showcase-list-group > ul {
    display: grid;
    gap: 20px;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 720px) {
  .codes .display-frame {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  #herosection h1 {
    font-size: 42px;
  }

  #herosection .btn {
    width: 180px;
    height: 46px;
  }

  #herosection .btn > span {
    font-size: 14px;
  }

  #herosection h2 {
    font-size: 40px;
  }

  /* ABOUT */

  #about h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  #about p {
    font-size: 16px;
  }

  /* MY SKILLS */

  #myskills .listboard > h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  #myskills .listboard > .box {
    gap: 10px;
  }

  /* PROJECTS */

  #projects h2 {
    font-size: 28px;
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed {
    padding: 16px 18px;
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed .featured {
    font-size: 14px;
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed .title {
    font-size: 24px;
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed .description {
    font-size: 15px;
  }

  .showcase-preview-group > .card-showcase > .main-card > .detailed .technology-used > li {
    font-size: 13px;
  }

  /* -- */
  .showcase-list-group > h3 {
    font-size: 26px;
  }

  .showcase-list-group > ul > li {
    padding: 22px;
    gap: 10px;
  }

  .showcase-list-group > ul > li > h4 {
    font-size: 20px;
  }

  .showcase-list-group > ul > li > p {
    font-size: 14px;
  }

  .showcase-list-group > ul > li .technology-used {
    column-gap: 18px;
    row-gap: 10px;
  }

  .showcase-list-group > ul > li .technology-used > li {
    font-size: 12px;
  }

  /* CONTACT */

  #contact > .box {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }

  #contact > .box > h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: var(--base-accent);
  }

  #contact > .box > p {
    color: var(--text3);
    font-size: 15px;
  }

  #contact > .box > p:nth-child(3) {
    font-size: 15px;
    text-align: center;
  }

  #contact > .box .btn {
    min-height: 42px;
    height: 42px;
  }
}

@media (max-width: 450px) {
  /* #herosection .btn {
        width: 100px;
        height: 40px;
    }

    #herosection .btn>span {
        font-size: 13px;
    } */
}
